html {
  font-size: 16px;
  line-height: 1.42857143;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #f5f5f7;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 0 20px 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 2.2rem;
  margin: 0 0 50px 0;
  color: white;
  text-shadow: 2px 2px 4px grey;
  background-color: #d9d9e0;
  -webkit-box-shadow: 0 5px 20px grey;
          box-shadow: 0 5px 20px grey;
}

@media (min-width: 500px) and (max-width: 760px) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 761px) {
  h1 {
    font-size: 3.5rem;
  }
}
.main-picture-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  max-height: 100%;
  max-width: 1200px;
}

.main-picture-container img {
  width: 100%;
  height: 600px;
  max-height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main-picture-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  width: 90%;
  max-width: 650px;
  margin-top: 30px;
  padding: 10px;
  background-color: #d9d9e0;
  -webkit-box-shadow: 0 5px 20px grey;
          box-shadow: 0 5px 20px grey;
}
.main-picture-input-box input {
  width: 100%;
  padding: 5px 0 5px 0;
}
.main-picture-input-box input[type=email] {
  text-align: left;
  padding-left: 5px;
}
.main-picture-input-box input[type=email]::-webkit-input-placeholder {
  text-align: center;
}
.main-picture-input-box input[type=email]::-moz-placeholder {
  text-align: center;
}
.main-picture-input-box input[type=email]:-ms-input-placeholder {
  text-align: center;
}
.main-picture-input-box input[type=email]::-ms-input-placeholder {
  text-align: center;
}
.main-picture-input-box input[type=email]::placeholder {
  text-align: center;
}

.main-picture-input-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.main-picture-input-button .main-picture-button {
  width: 40%;
  max-width: 150px;
  padding: 5px 3px 10px 3px;
  font-size: 0.6rem;
  margin-top: 10px;
}
.main-picture-input-button a {
  border: 1px solid black;
  background-color: #efefef;
  text-decoration: none;
  color: black;
}
.main-picture-input-button a span {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 7px;
}

@media (min-width: 400px) and (max-width: 600px) {
  .main-picture-input-button .main-picture-button {
    font-size: 0.7rem;
  }
}
@media (min-width: 601px) and (max-width: 999px) {
  .main-picture-input-button .main-picture-button {
    font-size: 0.8rem;
  }
}
@media (min-width: 1000px) {
  .main-picture-input-box input {
    font-size: 1.2rem;
  }
  .main-picture-input-button .main-picture-button {
    font-size: 0.9rem;
  }
}
#collections {
  margin-top: 100px;
  background-color: white;
  -webkit-box-shadow: 0 5px 20px grey;
          box-shadow: 0 5px 20px grey;
}

#collections-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collections-dropdown {
  padding: 5px;
  margin: 10px 0 10px 0;
}

.allocated-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
  padding: 10px;
}

.chosen-image {
  width: 100%;
  max-width: 300px;
}

@media (min-width: 500px) and (max-width: 850px) {
  .allocated-images {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
}
@media (min-width: 851px) and (max-width: 1150px) {
  .allocated-images {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
  }
}
@media (min-width: 1151px) and (max-width: 1350px) {
  .allocated-images {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
  }
}
@media (min-width: 1351px) {
  .allocated-images {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
  }
}/*# sourceMappingURL=application.css.map */