html {
  font-size: 16px;
  line-height: 1.42857143;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #F2F0EB;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

button,
.main-picture-button {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}
button:active,
.main-picture-button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: buttonFlash 1s ease;
          animation: buttonFlash 1s ease;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-height: 75px;
  background-color: #DFD3C3;
  -webkit-box-shadow: 0 2px 10px #4f371f;
          box-shadow: 0 2px 10px #4f371f;
}

h1 {
  font-size: 1.8rem;
  margin: 10px;
  color: white;
  text-shadow: 2px 2px 4px grey;
}

@media (min-width: 500px) and (max-width: 760px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 761px) {
  h1 {
    font-size: 3rem;
  }
}
.main-picture-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

#main-picture-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px #4f371f;
          box-shadow: 0 5px 10px #4f371f;
}

.main-picture {
  width: 90%;
  max-height: 100%;
  max-width: 1200px;
  padding-top: 40px;
}

.main-picture img {
  width: 100%;
  height: 600px;
  max-height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.email-suggestions {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  bottom: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.email-suggestion {
  padding: 8px 12px;
  cursor: pointer;
}

.email-suggestion:hover {
  background-color: #f0f0f0;
}

/* Make sure the email input container is relative for proper dropdown positioning */
.main-picture-input-box {
  position: relative;
}

.main-picture-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  width: 90%;
  margin: 30px 0 40px 0;
  padding: 10px;
  background-color: #F2F0EB;
  -webkit-box-shadow: 0 5px 20px grey;
          box-shadow: 0 5px 20px grey;
}
.main-picture-input-box #generate-button {
  background-color: #996b3b;
  border: 2px solid #4f371f;
  color: white;
}
.main-picture-input-box #generate-button:hover {
  background-color: #ba844d;
}
.main-picture-input-box #add-image-button {
  background-color: #DFD3C3;
  border: 2px solid #4B3E2A;
  color: black;
}
.main-picture-input-box #add-image-button:hover {
  background-color: #f1ebe4;
}
.main-picture-input-box .main-picture-button {
  background-color: #A6896F;
  border: 2px solid #4B3E2A;
  color: white;
}
.main-picture-input-box .main-picture-button:hover {
  background-color: #b9a38f;
}
.main-picture-input-box input {
  width: 100%;
  padding: 5px 0 5px 0;
  border: 2px solid #4B3E2A;
}
.main-picture-input-box input[type=email] {
  text-align: left;
  padding-left: 5px;
}
.main-picture-input-box input[type=email]::-webkit-input-placeholder {
  text-align: center;
  color: #4B3E2A;
}
.main-picture-input-box input[type=email]::-moz-placeholder {
  text-align: center;
  color: #4B3E2A;
}
.main-picture-input-box input[type=email]:-ms-input-placeholder {
  text-align: center;
  color: #4B3E2A;
}
.main-picture-input-box input[type=email]::-ms-input-placeholder {
  text-align: center;
  color: #4B3E2A;
}
.main-picture-input-box input[type=email]::placeholder {
  text-align: center;
  color: #4B3E2A;
}

#collection-message {
  display: none;
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
}

#collection-message.error {
  color: white;
  background-color: red;
}

#collection-message.success {
  color: white;
  background-color: green;
}

.main-picture-input-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.main-picture-input-button .main-picture-button {
  width: 40%;
  max-width: 150px;
  padding: 5px 3px 10px 3px;
  font-size: 0.6rem;
  margin-top: 10px;
}
.main-picture-input-button a {
  border: 1px solid black;
  background-color: #efefef;
  text-decoration: none;
  color: black;
}
.main-picture-input-button a span {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 7px;
}

.error-message {
  display: none;
  padding: 10px;
  font-size: 1rem;
  margin-top: 5px;
  color: white;
  background-color: red;
}

@media (min-width: 400px) and (max-width: 600px) {
  .main-picture-input-button .main-picture-button {
    font-size: 0.7rem;
  }
  .main-picture img {
    max-height: 45vh;
  }
}
@media (min-width: 600px) {
  #main-picture-wrapper {
    margin-top: -60px;
  }
}
@media (min-width: 601px) and (max-width: 999px) {
  .main-picture-input-button .main-picture-button {
    font-size: 0.8rem;
  }
  .main-picture img {
    max-height: 50vh;
  }
}
@media (min-width: 1000px) {
  .main-picture-input-box input {
    font-size: 1.2rem;
  }
  .main-picture-input-button .main-picture-button {
    font-size: 0.9rem;
  }
  .main-picture img {
    max-height: 50vh;
  }
}
#collections-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DFD3C3;
  width: 100%;
  height: 100vh;
  -webkit-box-shadow: 0 5px 40px #4f371f;
          box-shadow: 0 5px 40px #4f371f;
}

#collections {
  margin: 50px 0 100px 0;
  width: 90%;
  min-height: 400px;
  height: auto;
  background-color: white;
  border: 2px solid #996b3b;
  -webkit-box-shadow: 0 5px 40px #4f371f;
          box-shadow: 0 5px 40px #4f371f;
}

.bottom-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  color: white;
  background-color: #A6896F;
  border: 2px solid #4B3E2A;
  text-shadow: 1px 1px 4px black;
  text-decoration: none;
  font-size: 0.7rem;
}
.bottom-scroll:hover {
  background-color: #b9a38f;
}
.bottom-scroll span {
  margin-top: -10px;
  padding: 5px;
}

#collections-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
#collections-selector > * {
  min-width: min(180px, 100%);
  word-wrap: break-word;
}

.collections-dropdown {
  padding: 5px;
  margin: 10px 0 10px 0;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e8e4dc;
  border: 2px solid #74512D;
  color: black;
}

#clear-collection-button {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  margin: 10px 0 0 0;
  background-color: red;
  color: white;
  border: 2px solid #990000;
}
#clear-collection-button:hover {
  background-color: #cc0000;
  border: 2px solid red;
}

#clear-all-collections-button {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  background-color: #cc0000;
  color: white;
  border: 2px solid #330000;
}
#clear-all-collections-button:hover {
  background-color: red;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.popup-content #popup-message {
  font-size: 1.5rem;
}

.popup-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.popup-buttons > * {
  font-size: 1rem;
  padding: 10px;
}

#popup-confirm {
  background-color: #DFD3C3;
  border: 2px solid #4B3E2A;
  color: black;
}
#popup-confirm:hover {
  background-color: #f1ebe4;
}

#popup-cancel {
  background-color: #A6896F;
  border: 2px solid #4B3E2A;
  color: white;
}
#popup-cancel:hover {
  background-color: #b9a38f;
}

.allocated-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
  padding: 10px;
}

.chosen-image {
  width: 100%;
  max-width: 300px;
}

@media (min-width: 668px) {
  #collections-selector {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #clear-collection-button {
    margin: 0 20px 0 0;
  }
  #clear-all-collections-button {
    margin: 0 0 0 20px;
  }
  #collections-selector > * {
    font-size: 0.9rem;
  }
}
@media (min-width: 800px) {
  #collections-selector > * {
    padding: 10px;
  }
}
@media (min-width: 500px) and (max-width: 850px) {
  .allocated-images {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
  .bottom-scroll {
    font-size: 0.8rem;
  }
}
@media (min-width: 851px) {
  .bottom-scroll {
    font-size: 1rem;
  }
}
@media (min-width: 851px) and (max-width: 1150px) {
  .allocated-images {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
  }
}
@media (min-width: 1151px) and (max-width: 1350px) {
  .allocated-images {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
  }
}
@media (min-width: 1351px) {
  .allocated-images {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
  }
}/*# sourceMappingURL=application.css.map */