//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// COLORS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// MAIN DESIGN PALETTE
///////////////////////////////////////
// $primary-color: #5d777e;


$main-background-color: #f5f5f7;
$main-background-darkened: darken(#f5f5f7, 10%);

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// FONTS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$primary-font--family: "Roboto", sans-serif;
$primary-font--weight: 400;