//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// COLORS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// MAIN DESIGN PALETTE
///////////////////////////////////////
// $primary-color: #5d777e;


$primary-color: #A6896F;
$primary-color-darkened: darken(#A6896F, 10%);

$second-color: #D9C3A9;
$second-color-darkened: darken(#D9C3A9, 10%);

$third-color: #F2F0EB;
$third-color-darkened: darken(#F2F0EB, 10%);




//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// FONTS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$primary-font--family: "Roboto", sans-serif;
$primary-font--weight: 400;