//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// COLORS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// MAIN DESIGN PALETTE
///////////////////////////////////////

$primary-color: #A6896F;
$primary-color-darkened: darken(#A6896F, 10%);

$second-color: #DFD3C3;
$second-color-darkened: darken(#DFD3C3, 10%);

$third-color: #F2F0EB;
$third-color-darkened: darken(#F2F0EB, 10%);

$fourth-color: #74512D;
$fourth-color: lighten(#74512D, 10%);
$fourth-color-darkened: darken(#74512D, 10%);


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// FONTS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$primary-font--family: "Roboto", sans-serif;
$primary-font--weight: 400;