#collections-wrapper{
    display: flex;
    justify-content: center;
    background-color: $second-color;
    width: 100%;
    height: 100vh;
    box-shadow: 0 5px 40px $fourth-color-darkened;
}

// adding some space between main image and selected images
#collections{
    margin: 100px 0 100px 0;
    width: 90%;
    min-height: 300px;
    height: auto;
    background-color: white;
    border: 2px solid $fourth-color;
    box-shadow: 0 5px 40px $fourth-color-darkened;
}

///////////////////////////////////////////////////////////
/// COLLECTIONS DROPDOWN
///////////////////////////////////////////////////////////

#collections-selector{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; 
}

.collections-dropdown{
    padding: 5px;
    margin: 10px 0 10px 0;
    max-width: 100%;
    box-sizing: border-box;
    background-color: $second-color;
    border: 2px solid #74512D;
    color: #74512D;
    // makes the dropdown slightly bigger to show its clicked on
    &:focus {
        transform: scale(1.20);
        transition: all 0.2s ease-in-out;
    }
}

#clear-collection-button{
    max-width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 0 0 0;
    // margin-right: 20px;
    background-color: red;
    color: white;
    border: 2px solid darken(red, 20%);  
    &:hover{
        background-color: darken(red, 10%);
        border: 2px solid red;
    }

}

#clear-all-collections-button{
    max-width: 100%;
    box-sizing: border-box;
    padding: 5px;
    // margin-left: 20px;
    background-color: darken(red, 10%);
    color: white;
    border: 2px solid darken(red, 40%);
    &:hover{
        background-color: red;
    } 

}

/// COLLECTIONS POP UP
/////////////////////////////////////////////

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

///////////////////////////////////////////////////////////
/// ALLOCATED IMAGES SECTION
///////////////////////////////////////////////////////////

// this is for the grid layout of the assigned images to each collection
.allocated-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    padding: 10px;
}


.chosen-image{
    width: 100%;
    max-width: 300px;
}


.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}



//////////////////////////////////////////////////////////////////////////////////////
/// MEDIA QUERIES
//////////////////////////////////////////////////////////////////////////////////////

@media(min-width: 580px){
    #collections-selector{
        flex-direction: row;
    }
    #clear-collection-button{
        margin: 0 20px 0 0;
    }
    #clear-all-collections-button{
        margin: 0 0 0 20px;
    }
    // this makes the font size of the dropdown and buttons bigger
    #collections-selector > *{
        font-size: .9rem;
    }
}

@media(min-width: 800px){
    #collections-selector > *{
        padding: 10px;
    }
}

@media(min-width: 500px) and (max-width: 850px){
    .allocated-images{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }

}

@media(min-width: 851px) and (max-width: 1150px){
    .allocated-images{
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
    }

}

@media(min-width: 1151px) and (max-width: 1350px){
    .allocated-images{
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: auto;
    }
}

@media(min-width: 1351px){
    .allocated-images{
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: auto;
    }
}