#collections-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $second-color;
    width: 100%;
    height: 100vh;
    box-shadow: 0 5px 40px $fourth-color-darkened;
}

// adding some space between main image and selected images
#collections{
    margin: 50px 0 100px 0;
    width: 90%;
    min-height: 400px;
    height: auto;
    background-color: white;
    border: 2px solid $fourth-color;
    box-shadow: 0 5px 40px $fourth-color-darkened;
}

/// BOTTOM SCROLL
//////////////////////////////////////////////////

.bottom-scroll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: white;
    background-color: $primary-color;
    border: 2px solid #4B3E2A;
    text-shadow: 1px 1px 4px black;
    text-decoration: none;
    font-size: .7rem;
    &:hover{
        background-color: lighten($primary-color, 10%);
    }
    span{
        margin-top: -10px;
        padding: 5px;
    }
}

///////////////////////////////////////////////////////////
/// COLLECTIONS DROPDOWN
///////////////////////////////////////////////////////////

#collections-selector{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    // we use min() here as the browser will always respect the smallest value, so when the parent is smaller than 180px
    // it switches to 100% width so it doesnt out grow its container
    > * {
        min-width: min(180px, 100%);
        word-wrap: break-word;       // Allows long words to break
        
    }
}

.collections-dropdown{
    padding: 5px;
    margin: 10px 0 10px 0;
    max-width: 100%;
    box-sizing: border-box;
    background-color: darken(#F2F0EB, 5%);
    border: 2px solid #74512D;
    color: black;
}

#clear-collection-button{
    max-width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 0 0 0;
    // margin-right: 20px;
    background-color: red;
    color: white;
    border: 2px solid darken(red, 20%);  
    &:hover{
        background-color: darken(red, 10%);
        border: 2px solid red;
    }

}

#clear-all-collections-button{
    max-width: 100%;
    box-sizing: border-box;
    padding: 5px;
    // margin-left: 20px;
    background-color: darken(red, 10%);
    color: white;
    border: 2px solid darken(red, 40%);
    &:hover{
        background-color: red;
    } 

}

/// COLLECTIONS POP UP
/////////////////////////////////////////////

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    #popup-message{
        font-size: 1.5rem;
    }
}



.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    // selects both buttons and changes their font size
    > * {
        font-size: 1rem;
        padding: 10px;
    }
}

#popup-confirm{
    background-color: $second-color;
    border: 2px solid #4B3E2A;
    color: black;
    &:hover{
        background-color: lighten($second-color, 10%);
    }
}

#popup-cancel{
    background-color: $primary-color;
    border: 2px solid #4B3E2A;
    color: white;
    &:hover{
        background-color: lighten($primary-color, 10%);
    }
}

///////////////////////////////////////////////////////////
/// ALLOCATED IMAGES SECTION
///////////////////////////////////////////////////////////

// this is for the grid layout of the assigned images to each collection
.allocated-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    padding: 10px;
}


.chosen-image{
    width: 100%;
    max-width: 300px;
}





//////////////////////////////////////////////////////////////////////////////////////
/// MEDIA QUERIES
//////////////////////////////////////////////////////////////////////////////////////

@media(min-width: 668px){
    #collections-selector{
        flex-direction: row;
    }
    #clear-collection-button{
        margin: 0 20px 0 0;
    }
    #clear-all-collections-button{
        margin: 0 0 0 20px;
    }
    // this makes the font size of the dropdown and buttons bigger
    #collections-selector > *{
        font-size: .9rem;
    }
}

@media(min-width: 800px){
    #collections-selector > *{
        padding: 10px;
    }
}

@media(min-width: 500px) and (max-width: 850px){
    .allocated-images{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }
    .bottom-scroll{
        font-size: .8rem;
    }

}

@media(min-width: 851px){
    .bottom-scroll{
        font-size: 1rem;
    }
}

@media(min-width: 851px) and (max-width: 1150px){
    .allocated-images{
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
    }

}

@media(min-width: 1151px) and (max-width: 1350px){
    .allocated-images{
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: auto;
    }
}

@media(min-width: 1351px){
    .allocated-images{
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: auto;
    }
}