
html{
    font-size: 16px;
    line-height: 1.42857143;
    font-family: $primary-font--family;
    font-weight: $primary-font--weight;
    background-color: $main-background-color; 
}

* {
    box-sizing: border-box;
}

body{
    margin: 0; // gets rid of top margin so header sits flush at the top and side margins, i left a bigger bottom margin so content doesnt click like a footer
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

// .main-container{
//     height: 100vh;
// }




/// BREAKPOINTS
//////////////////////////////////

// 500px, 760px, 